<div class="row">
    <div class="col-md-12">
        ServiceId: @ViewBag.ServiceId
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Content("~/api/serviceid")">/api/serviceid</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <pre style="overflow-x: scroll; white-space: pre; word-wrap: initial">@ViewBag.WhatDoIHave</pre>
    </div>
</div>